/* html, body {
	background: #ebebeb;
	font-size: 10px;
	font-family: Verdana;
	margin: 0;
	padding: 0;
} */
  #tree {
	float: left;
	min-width: 319px;
	border-right: 1px solid silver;
	overflow: auto;
	padding: 0px 0;
}  

#tree .folder {
	background: url('../images/file_sprite.png') right bottom
		no-repeat;
}

#tree .file {
	background: url('../images/file_sprite.png') 0 0 no-repeat;
}
